################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TSI/FileContentIndex/5d20a479-863f-4f0c-a4e6-d09545d7f253.vsidx
*.vsidx
